.notification {
  font-size: 20px;
  font-weight: bold;
  color: green;
  border: 2px solid green;
  border-radius: 3px;
  padding: 5px;
}

.error {
  font-size: 20px;
  font-weight: bold;
  color: red;
  border: 2px solid red;
  border-radius: 3px;
  padding: 5px;
}